# Slack Webhook URL
SLACK_WEBHOOK_URL='https://hooks.slack.com/services/XXX/XXX/XXX'

# GitHub 이미지 호스팅 설정
GITHUB_REPO='SK-AI-Tech-Innovation/slack-meal-bot'
GITHUB_BRANCH='main'

# 식당 설정 (기본값: 비원 분당캠퍼스, 점심)
CAMPUS_CODE='BD'
CAFETERIA_SEQ='21'
MEAL_TYPE='LN'
